.new-post-dialog {
    position: relative;
}

.mat-form-field {
    width: 100%;
}

.photo-input {
    display: none;
}

.photo-upload {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo-upload-progress {
    width: 24%;
}

.cancel-upload {
    cursor: pointer;
}

.post-upload-progress-bar {
    position: absolute;
    bottom: 0px;
    /* margin-left: -25px;
    margin-right: -25px; */
}

